.container.clients {
  padding: 50px 0;

  div {
    &:focus {
      outline: none;
    }
  }

  .section-header {
    max-width: 700px;
    margin: 0 auto;
    p {
      strong {
        color: #101D2D;
        font-style: italic;
      }
    }
  }

  .companiesList {
    display: flex;
    flex-wrap: wrap;

    // https://css-tricks.com/color-filters-can-turn-your-gray-skies-blue/
    .defs-only {
      position: absolute;
      height: 0; width: 0;
      overflow: none;
      left: -100%;
    }

    // https://stackoverflow.com/questions/29546550/flexbox-4-items-per-row
    .companyContainer {
      min-height: 150px;
      margin: 5px;
      width: calc(100% * (1/6) - 10px - 1px);
      flex-grow: 1;

      &:hover {
        h4 {
          opacity: 1;
          transform: scale(1.1) translateY(10px);
        }
      }

      h4 {
        transition: 0.21s ease-in-out all;
        color: #203878;
        font-size: 15px;
        margin: 0;
        line-height: 1.2em;
        opacity: 0;
      }

      img {
        cursor: pointer;
        padding: 10px;
        height: 90px;
        object-fit: contain;
        width: 100%;
        display: block;
        transition: 0.21s ease-in-out all;
        -webkit-filter: url(#monochrome);
        filter:  url(#monochrome);

        &:hover {
          filter: none;
          transform: scale(1.1);
        }
      }

    }
  }
  a.bottom {
    display: block;
    text-decoration: none;
    margin: 70px auto 50px;

    .button {
      transition: 0.21s ease-in-out all;
    }
  }
}

@media (max-width: 767px) {
  .container.clients .companiesList .companyContainer {
      width: calc(100% * (1/3) - 10px - 1px);
  }
}
