.site-header {

  .site-header-inner {
    height: 100px;
  }

  .logo {
    height: 66px;
    filter: brightness(1.5);
  }

  &.fixed {
    .site-header-inner {
      height: 80px;
    }

    .logo {
      height: 50px;
    }
  }
}

.logo {
  height: 50px;
}
